@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.navbar-default{
    height: 80px;
    border-color: #fff;
    opacity: 0.6;
    
}

.bg{
    /* The image used */
  background-image: url("images/bg_img.jpg");

  /* Full height */
  height: 100%;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2cm;
  padding-top: 1%;
  background-color:#28328c;
  color: white;
  text-align: center;
  opacity: 0.9;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: rgb(124, 216, 110);
  cursor: pointer;
  text-decoration: none;
}